body {
  background-color: #212121;
  color: rgb(238, 238, 238);
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}
#root {
  display: grid;
  gap: 20px;
}
.card {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 20px;
  padding: 40px;
}
.photo {
  height: 150px;
  width: 150px;
}
.photo img {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.details {
  display: grid;
  place-items: start;
  gap: 30px;
}

.App {
  text-align: center;
}
.loading {
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading {
  font-weight: bolder;
}
.underline {
  background-color: rgb(82, 208, 209);
  width: 8rem;
  height: 0.25rem;
  margin-left: auto;
  margin-right: auto;
}
